
MONGO_URI=
PORT=5001
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=

#zkteco config
DEVICE_IP=192.168.1.201
DEVICE_PORT=4370

#Email Info
EMAILHOST=smtp.gmail.com
MAILID=
MAILPASSWORD=
MAILPORT=465

#timrequest
TIMEREQUESTDAYS=30

#seed user
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=